{% import "macros.html" as macros %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ get_url(path='styles.css') }}" />
  <link rel="icon" type="image/ico" sizes="32x32" href="{{ get_url(path='favicon-32x32.png') }}">
  <title>
    {% block title %}{{ config.title }}{% endblock title %}
  </title>
  {% block rss %}
  {#
  <link rel="alternate" type="application/rss+xml" title="RSS"
    href="{{ get_url(path='rss.xml', trailing_slash=false) }}" /> #}
  {% endblock %}
</head>

<body>
  <div class="wrapper">

    {% block header %}
    <header class="header">
      <nav class="header__link">
        <ul>
          <li><a href="{{ config.base_url }}">Shine</a></li>
          <li><a href="{{ get_url(path='@/posts/_index.md') }}">Blog</a></li>
          <li><a href="{{ get_url(path='@/thoughts/index.md') }}">Thoughts</a></li>
          <li><a href="{{ get_url(path='@/now.md') }}">Now</a></li>
        </ul>
      </nav>
    </header>
    {% endblock header %}

    <div class="content">
      {% block content %}
      <main class="main">
      </main>
      {% endblock content %}

      {%block sidebar%}
      <aside class="siderbar">
      </aside>
      {%endblock siderbar%}
    </div>

    {% block footer %}
    <footer>
      <p>© 2024 <a href="https://github.com/shinechn">Shine chn</a></p>
      <p>Powered by <a href="https://github.com/getzola/zola">Zola</a></p>
      {#
      <p class="license"> Content of this website is licensed under
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license">CC&nbsp;BY-SA&nbsp;4.0</a>
        unless otherwise stated.
      </p>
      #}
    </footer>
    {% endblock footer%}
  </div>

</body>

</html>