{% extends "base.html" %}
{% block title %}
<title>{{ config.title }}</title>
{% endblock title %}


{% block content %}

{% set about_page = get_page(path="about/index.md") %}
<div class="about-section">
  {{ about_page.summary | safe }}
</div>

<details open>
  <summary>2024 Posts</summary>
  {% set section = get_section(path="posts/_index.md") %}
  {% for page in section.pages %}
  <div class="post-list">
    <span class="meta_date">
      {% if page.updated %}
      {{ page.updated | date(format="%Y-%m-%d") }}
      {% elif page.date %}
      {{ page.date| date(format="%Y-%m-%d") }}
      {% endif %}
    </span>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    {# <h2>{{ page.title }}</h2> #}
    {# {{ page.content | safe}} #}
  </div>
  {% endfor %}
</details>
{% endblock content %}

{% block aside %}
{% set page = get_page(path="link.md") %}
{% endblock aside %}