{% extends "base.html" -%}

{% block title -%}
{{ page.title }}
{% endblock title -%}

{% block content %}
<main>
  <h1 class="title">
    {{ page.title }}
  </h1>
  <p class="post_date">
    {% if page.updated %}
    <span>
      {{ page.updated | date(format="%B %-d, %Y") }}
    </span>
    {% elif page.date %}
    <span>
      {{ page.date| date(format="%B %-d, %Y") }}
    </span>
    {% endif %}
  </p>

  {{ page.content | safe }}

</main>
{% endblock content %}

{% block footer %}
<p class="space">
  <a href="{{ config.base_url }}">cd ..</a>
</p>
{% endblock footer %}

{# {% block header -%}
{% block detail_meta -%}
<header class="header post-header" id="overview">
  {% block breadcrumbs -%}
  <div class="pb">
    <a href="{{ get_url(path='@/_index.md')}}">Home</a>
    <span class="divider">&nbsp;&gt;&nbsp;</span>
    <a href="{{ get_url(path='@long') }}">All catgories</a>
    {% if page.taxonomies.categories %}
    <span class="divider">&nbsp;&gt;&nbsp;</span>
    <a class="category" href="{{ get_taxonomy_url(kind='')}}"></a>
    {% endif %}
  </div>
  {%endblock breadcrumbs %}
</header>
{% endblock detail_meta -%}
{% endblock header -%} #}